{{ define "main" }}
        <main class="main list" id="main">
            <div class="main-inner">
                <div class="content list-group">
                    <div class="list-group list flex flex-wrap columns top">
                        <div class="line" data-module="ColorItemBackgroundToForeground"></div>
                        <div class="container-with-padding info">
                            <div class="column column-1">
                                <h1 class="font-style-1 header-title" data-module="ColorItemTextToForeground">Nice to meet you 🙂</h1>
                            </div>
                        </div>
                    </div>
                    <div class="post-body e-content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </main>
{{ end }}
