.home {
    .poetry {
        font-size: 1em;
        width: auto;
        max-width: $postWidth;
        margin: 0 auto;
    }
    .links {
        position: absolute;
        bottom: 10%;
        left: 5%;
        right: 5%;
        font-size: 1.5em;
    }
    .links-item {
        padding: $homeLinksPadding;
        display: inline-block;
    }
    .life {
        color: #f37055;
    }
    .tech {
        color: #a166ab;
    }
    .about {
        color: #07b39b;
    }
}
