#theme-switcher {
    color: var(--color-contrast-medium);
    transition: color $duration;

    &:hover {
        color: var(--color-primary);
    }

    .icon {
        margin-right: 0 !important;
    }
}

@if (not $headerLayoutFlex) {
    #theme-switcher {
        padding: 1em;
        float: right;
    }
}
