@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: url('#{$baseRelURL}/fonts/Montserrat.woff2') format('woff2'),
         url('#{$baseRelURL}/fonts/Montserrat.woff') format('woff'),
         url('#{$baseRelURL}/fonts/Montserrat.ttf') format('truetype'),
         url('#{$baseRelURL}/fonts/Montserrat.eot') format('embedded-opentype');
    unicode-range: U+00B7, U+2014, U+2022, U+2026;
    font-weight: inherit;
    font-style: inherit;
}
